In [5]:
import pandas as pd
people = {
    'first' : ['Corey', 'Jane', 'John'],
    'last'  : ['Schafer', 'Doe', 'Doe'],
    'email'  : ['corey@gmail.com', 'jane@gmail.com', 'john@gmail.com']
}
df = pd.DataFrame(people)
df['email']
type(df['email'])
df.email[1]
df[['email','first']]
type(df[['email','first']])
df.columns
df.iloc[0]
df.iloc[[0,2]]
df.iloc[[0,2],[0,2]]
df.loc[[0]]
df.loc[[0,1]]
df.loc[[0,1],['email', 'first']]
df.set_index('email')
df.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
df.set_index('email', inplace=True)

In [9]:
df.index

Index(['corey@gmail.com', 'jane@gmail.com', 'john@gmail.com'], dtype='object', name='email')

In [10]:
df.loc['corey@gmail.com']

first      Corey
last     Schafer
Name: corey@gmail.com, dtype: object

In [14]:
df.iloc[0]

first      Corey
last     Schafer
Name: corey@gmail.com, dtype: object

In [15]:
df.reset_index(inplace=True)
df

             email  first     last
0  corey@gmail.com  Corey  Schafer
1   jane@gmail.com   Jane      Doe
2   john@gmail.com   John      Doe

In [16]:
df

             email  first     last
0  corey@gmail.com  Corey  Schafer
1   jane@gmail.com   Jane      Doe
2   john@gmail.com   John      Doe

In [22]:
filt = df['last'] == 'Doe'
df.loc[filt,'email'] # df.[filt]

1    jane@gmail.com
2    john@gmail.com
Name: email, dtype: object